body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.smallen-h1{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
p{
    color: gray;
}
.flexible-container{
    display: flex;
    margin-bottom: 69px;
}
.half-width{
    /* width: 100%;
    padding: 5%; */
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#experience-title{
    padding: 15px;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5px;
    padding-left: 30px;
    border-radius: 8px;
    border-left: 7px solid blue;
    box-shadow: 10px 10px 40px grey;
}
.experience-area p{
    padding-bottom: 60px;
    padding-right: 10px;
}
#full-stack-developer{
    border-left: 7px solid tomato;
}
footer p{
    text-align: center;
}



